<!-- <div class="homeContainer">

<div class="homeTxtContainer">

</div>
<div class="homebtnContainer">
<div class="btnContainer">
   <button style="width:150px;height:150px" class="button button-primary button-circle button-giant button-longshadow">
    <i class="fa fa-gear"></i>
  </button>
  </div>
  <div class="btnContainer">
     <button style="width:150px;height:150px" class="button button-primary button-circle button-giant button-longshadow">
    <i class="fa fa-gear"></i>
  </button>
   </div>
  <div class="btnContainer">
     <button style="width:150px;height:150px" class="button button-primary button-circle button-giant button-longshadow">
    <i class="fa fa-gear"></i>
  </button>
  </div>
   </div>
</div>
-->


<!-- Image Background Page Header -->
<!-- Note: The background image is set within the business-casual.css file. -->
<div class="business-header">
<!-- <div id="wrapper">
    <ul id="scroller">
      <li>  <img class="img-circle img-responsive img-center"
						src="resources/img/bg1.png" alt=""></li>
	<li><img class="img-circle img-responsive img-center"
						src="resources/img/bg1.png" alt=""></li>
    </ul>
</div> -->
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="tagline">Medical Billing</h1>
			</div>
		</div>
	</div>
</div>

<!-- Page Content -->
<div class="container" id="menu_container" >



	<div class="row">
		<div class="col-sm-4">

			<div class="btnContainer">
				<button style="width: 150px; height: 150px" ng-click="getOrder();"
					class="button button-primary button-circle button-giant button-longshadow">
					<img class="img-circle img-responsive img-center"
						src="../../../images/order.png" alt="">
				</button>
			</div>

			<!--   <img class="img-circle img-responsive img-center" src="resources/img/Edit.png" alt="">
                -->

			<h2>Order</h2>
			<p>order the medicines from the prescription provided by the customer.Generate the bill accordingly .save the details to the central repository to check the revenue details.</p>
		</div>


		<div class="col-sm-4">

			<div class="btnContainer">
				<button style="width: 150px; height: 150px" ng-click="getEdit();"
					class="button button-primary button-circle button-giant button-longshadow">
					  <img class="img-circle img-responsive img-center" src="../../../images/update.png" alt="">

				</button>
			</div>
			<h2>Update</h2>
			<p>Edit the medicine details using the medicine code provided by you into the repositoy.</p>
		</div>
		<div class="col-sm-4">

			<div class="btnContainer">
				<button style="width: 150px; height: 150px" ng-click="getData();"
					class="button button-primary button-circle button-giant button-longshadow">
					<img class="img-circle img-responsive img-center"
						src="../../../images/summary.png" alt="">
				</button>
			</div>

			<!--    <img class="img-circle img-responsive img-center" src="resources/img/Edit.png" alt="">
               -->
			<h2>Reports</h2>
			<p>Check out the Sales history using this menu to track the revenue details .</p>
		</div>
	</div>
	<!-- /.row -->

	<hr>

	<!-- Footer
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; Your Website 2014</p>
			</div>
		</div>

	</footer>-->

</div>
<!-- /.container

<script type="text/javascript">
setTimeout(function(){
	var myScroll = new IScroll('#wrapper');
},500);

</script>-->

